.index {
  h1, h2 {
    font-weight: 700;
    margin: 0;
  }

  section {
    background-color: $white;
  }

  .intro {
    align-items: center;

    .right-container {
      align-self: unset;
    }

    .avatar {
      position: relative;
      margin: 0 auto;
      height: 150px;
      width: 150px;

      @include desktop {
        height: 250px;
        width: 250px;
      }

      .img-wrapper {
        border-radius: 500px;
        height: 150px;
        overflow: hidden;
        position: relative;
        left: 0;
        transition: left .25s ease;
        width: 150px;
        z-index: 2;

        @include desktop {
          height: 250px;
          width: 250px;
        }



      }


      img {
        display: block;
        width: 100%;
      }

      &.active,
      &:hover {
        cursor: pointer;
        .img-wrapper {
          left: -100px;
        }

        .nightmode-switch {
          left: 100px;
        }
      }
    }
  }

  @mixin title-backdrop {
    color: $off-white;
    content: "";
    left: 4px;
    position: absolute;
    top: 4px;
    z-index: -1;
  }

  .intro-hi {
    position: relative;
    display: block;
    z-index: 2;

    .hi {
      &::after {
        @include title-backdrop;
        content: "Hi! My name is";
      }
    }

    .dimitri {
      position: relative;

      &::after {
        @include title-backdrop;
        content: "Dimitri";
      }
    }
  }

  .section-title {
    position: relative;
    display: block;
    z-index: 2;

    &::after {
      @include title-backdrop;
    }
  }

  .me-title::after {
    content: "What I stand for";
  }

  .skills-title::after {
    content: "What I do";
  }

  .contact-title::after {
    content: "Contact";
  }
}
