@keyframes bounce {
  0% {
    left: 4px;
    top: 4px;
  }

  50% {
    left: 10px;
    top: 10px;
  }

  100% {
    left: 4px;
    top: 4px;
  }
}


.index {
  h1, h2 {
    font-weight: 700;
    margin: 0;
  }

  .intro {
    align-items: center;
    text-align: center;

    @include tablet {
      text-align: left;
    }

    .right-container {
      align-self: unset;
      padding: 0;

      @include desktop {
        padding: 40px;
      }
    }

    .avatar {
      position: relative;
      margin: 0 auto;
      height: 150px;
      width: 150px;

      @include small-mobile {
        height: 250px;
        width: 250px;
      }

      .trigger {
        animation: bounce 1.5s infinite;
        background-color: $off-white;
        display: none;
        border-radius: 500px;
        height: 100%;
        position: absolute;
        width: 100%;

        &.active {
          display: block;
        }
      }

      .img-wrapper {
        border-radius: 500px;
        height: 150px;
        overflow: hidden;
        position: relative;
        left: 0;
        transition: left .25s ease;
        width: 150px;
        z-index: 2;

        @include small-mobile {
          height: 250px;
          width: 250px;
        }
      }

      img {
        display: block;
        width: 100%;
      }

      &:hover {
        cursor: pointer;
      }

      &.active {
        .img-wrapper {
          left: -100px;
        }

        .nightmode-switch {
          left: 100px;
        }
      }
    }
  }

  @mixin title-backdrop {
    color: $off-white;
    content: "";
    left: 4px;
    position: absolute;
    top: 4px;
    z-index: -1;
    width: 100%;
  }

  .intro-hi {
    position: relative;
    display: block;
    z-index: 2;

    &::after {
      @include title-backdrop;
      content: "Hi! My name is Dimitri";
    }
  }

  .section-title {
    position: relative;
    display: block;
    z-index: 2;

    &::after {
      @include title-backdrop;
    }
  }

  .me-title::after {
    content: "What I stand for";
  }

  .skills-title::after {
    content: "What I do";
  }

  .contact-title::after {
    content: "Contact";
  }

  .contact {
    a {
      &:hover {
        color: $blue;
      }
    }
  }
}
