html, body {
  background-color: $white;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  font-family: 'Quicksand', sans-serif;
}

section {
  transition: background-color .25s ease;
  margin: 0 auto;
  max-width: 1440px;
  padding: 10vh 24px;
  color: $black;

  @include desktop {
    display: flex;
    justify-content: space-between;
    min-height: 90vh;
    padding: 15vh 24px;
  }

  .left-container {
    @include desktop {
      width: 60%;
    }
  }

  .right-container {
    padding: 40px;

    @include desktop {
      align-self: flex-end;
      width: 50%;
    }
  }
}
