.nightmode {
  background-color: $dark-bg;

  h1,
  h2  {
    color: $off-white;
  }

  .nightmode-switch {
    background-color: rgba($off-white, .1);
  }

  section {
    color: $off-white;
  }

  .intro-hi,
  .avatar,
  .me-title,
  .skills-title,
  .contact-title {
    &::after {
      opacity: .1;
    }
  }
}
